- if @blog.errors.any?
  %div{id: "error_explanation"}
    .alert.alert-error
      The form contains
      = pluralize(@blog.errors.count, "error") + "."
    %ul
      - @blog.errors.full_messages.each do |msg|
        %li
          *
          = msg