.item
  - if small.image.exists?
    .blogimg
      = image_tag small.image.url(:small)
  .body{class: small.image.exists? ? 'offset': ''}
    %h4= link_to small.title, small
    %p= small.short_intro